[Unit]
Description=Spark service

[Service]
ExecStart=/usr/local/bin/vxlan-responder.py --dport 8472 --outerip 172.19.0.1 --innerip 10.1.5.1 --vni 101 --sport 55555 --bridge br-kind-cilium

[Install]
WantedBy=multi-user.target
